<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <%= fa_icon "fw times-circle" %>
      </button>

      <%= message %>

      <% if model.errors && model.errors.any? %>
        <ul>
          <% other = "" %>
          <% model_path = "models.#{model.model_name.param_key}" %>
          <% model.errors.each do |field, msg| %>
            <% if other != msg %>
              <% other = msg %>
              <% t_route = "#{model_path}.#{field}" %>
              <li><%= I18n.t(t_route) + " #{msg}" %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
