<section>
  <div class="jumbotron">
    <h1 class="align-center">KRT-DRIVER web</h1>
    <span>
      <p class="align-center">Con KRT-DRIVER web podrás gestionar y administrar tus recursos!</p>
    </span>
  </div>
</section>