<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h3>Conductores</h3> 
    </div>
    <div class="pull-right">
      <%= link_to "Crear Conductor", new_driver_url, class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <theader>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>RUT</th>
      <th>Nickname</th>
      <th>Teléfono</th>
      <th>Correo Electrónico</th>
      <th>Página Web</th>
      <th>Área servicio</th>
      <th></th>
    </theader>
    <tbody>
      <%= render partial: "drivers", locals: { drivers: @drivers } %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @drivers %>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
  <%= link_to "Volver", root_url, class: "btn btn-primary btn-md center-block" %>
</div>