<div class="row">
  <div class="col-xs-12">
    <span id="notice"><%= notice %></span>
    <span id="alert"><%= alert %></span>
  </div>
</div>
<% if @provider && @provider.errors.any? %>
    <%= render partial: "base/message_error",
    locals: { message: "No se puede guardar el proveedor debido a los siguientes errores:",
    model: @provider } %>
<% end %>
<%= render partial: "form", locals: { url: edit_store_provider_url(current_user.store, @provider), method: :put } %>