<div class="row">
  <div class="col-xs-12 col-md-12">
    <h3>Editar Proveedor - <%= @provider.first_name + ' ' + @provider.last_name %></h3>
    <span id="notice"><%= notice %></span>
    <span id="alert"><%= alert %></span>
  </div>
</div>
<%= render partial: "form", locals: { url: edit_store_provider_url(current_user.store, @provider), method: :put } %>