<div class="row">
  <div class="col-xs-12 col-md-12">
    <h3>Nuevo Proveedor</h3>
    <span id="notice"><%= notice %></span>
    <span id="alert"><%= alert %></span>
  </div>
</div>
<%= render partial: "form", locals: { url: store_provider_index_url(current_user.store, @provider), method: :post } %>