<td><%= f.name %></td>
<td><%#= f.address.store_name %></td>
<td><%= f.description %></td>
<td class="table-actions">
  <%= link_to "Editar", edit_store_url(f), data: {toggle: "tooltip", title: "Editar Tienda"} %>
  <%= link_to "Eliminar", store_url(f), method: :delete, data: { confirm: "¿Está seguro?", toggle: "tooltip", title: "Eliminar Tienda" } %>
</td>