<div class="row">
  <div class="col-xs-12">
    <span id="notice"><%= notice %></span>
    <span id="alert"><%= alert %></span>
  </div>
</div>
<%= render partial: "form", locals: { url: store_index_url, method: :post } %>