<div class="row" id="footer">
  <div class="col-md-3 pull-left">
    <%= link_to '#', class: 'btn btn-default btn-md pull-left' do %>
       <%= fa_stacked_icon "users", base: "square-o", text: "Quiénes somos" %>
    <% end %>
  </div>
  <div class="pull-right col-md-3">
    <%= link_to '#', class: "btn btn-default btn-md pull-right" do %>
      <%= fa_stacked_icon "vcard", base: "square-o", text: "Contacto" %>
    <% end %>
  </div>
</div>